{% load static %}
<!doctype html>
<html class="no-js" lang="en" xmlns:fb="http://ogp.me/ns/fb#" ng-app="photoApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Photo Editr | Login</title>
        <meta name="description" content="Django Powered Photo Editing Application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="github.com/andela/andela-osule">
        <meta property="fb:app_id" content="{{ app_id }}" />

        <link rel="apple-touch-icon" href="{% static 'images/logo.ico' %}">

        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        {% block app_css %} {% endblock %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>