{% load static %}
{% include 'app/header.html' with title='Dashboard' %}
{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/slick-carousel/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/slick-carousel/slick/slick-theme.css' %}"/>
{% endblock %}
<body ng-cloak>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="app container">
            <div class="row bg-white pane-top"> <!-- top pane -->
                <div class="col-sm-4">
                    <h1><img class="img img-responsive img-logo" src="{% static 'images/logo.png' %}"/>
                    <a href="{% url 'app.index' %}">Photo Editr</a></h1>
                </div>
                <div class="col-sm-8">
                    <div class="text-small profile-box"><!-- profile box  -->
	                    <p class="text-right">
	                    <img class="img-circle" src="{{request.user.profile_url}}"/>
	                    Logged in as {{ request.user.name }}, <a href="{% url 'app.auth.logout' %}">Logout</a></p>
                    </div><!-- profile box -->
                </div>
            </div> <!-- top pane -->

            <div class="row" ng-controller="PhotosController">
                <div class="col-sm-3 bg-white img-rack-wrapper"> <!-- image selection pane -->
                    <div class="img-rack text-center"><!-- image rack -->
                        <div class="row img-item img-bottom-padding" ng-repeat="photo in photos" data-id="[[photo.id]]" data-filesrc="[[ photo.image ]]" select-photo ng-model="effectIsLoaded">
                    </div>
                    <div ng-hide="photos.length">No images have been uploaded yet</div>
                        <!--Partials::selection.html-->
                    </div><!-- image rack -->
                    <div class="text-center overflow-hide" ng-controller="PhotoController">
                        <form class="hidden" method="POST" enctype="multipart/form-data">
                            <input name="image" ngf-select ng-model="file" type="file" />
                        </form>
                        <div ngf-select="upload($files)"  class="btn btn-primary"><span class="fa fa-upload"></span> Upload image</div>
                    </div>
                </div> <!-- image selection pane -->

                <div class="col-sm-9 img-editing-pane"> <!-- image editing pane -->
                    <div class="row"><!-- image editing toolbox -->
                         <div class="col-xs-2 col-sm-2 zero-padding">
                            <a class="btn btn-tool fa fa-pencil" title="Show effect panel" edit-photo></a>
                            <a class="btn btn-tool fa fa-trash" title="Delete photo" ng-model="photos" delete-photo></a>
                         </div>
                         <div class="col-xs-8 col-sm-8 zero-padding">
                            <div ng-if="showAlert" class="alert alert-[[ message.tags ]]" ng-repeat="message in messages">
                                <a ng-click="DestroyAlert()" class="close red" data-dismiss="alert">✗</a>
                                [[ message.text ]]
                            </div>
                            {% block messages %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                            <a class="close red" data-dismiss="alert">✗</a>
                                            {{ message|safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                         </div>
                         <div class="col-xs-2 col-sm-2 zero-padding text-right">
                             <a class="btn btn-tool fa fa-share-alt" title="Share link" share-photo></a>
                         </div>
                    </div><!-- image editing toolbox -->

                    <div class="row"><!-- image editing canvas -->
                        <div class="img-editing-canvas">
                            <div class="bg-white text-center relative">
                                <img id="photo" class="absolute-fifth"/>
                            </div>
                        </div>
                    </div><!-- image editing canvas -->

                    <div class="row"><!-- image effects and filters selection pane -->
                        <div class="img-fx" ng-model="effectIsLoaded" ng-if="effectIsLoaded">
                            <div class="bg-white">
                                <div>
                                    <!-- Wrapper for slides -->
                                    <slick class="slider" ng-cloak slides-to-show=5 ng-include src="'static/Partials/carouselfx.html'"></slick>
                                </div>
                            </div>
                        </div>
                    </div><!-- image effects and filters selection pane -->

                </div> <!-- image effects and filters selection pane -->
            </div>
        </div>

        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
        <script src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-moment/angular-moment.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'bower_components/slick-carousel/slick/slick.min.js' %}"></script>
         <script src="{% static 'bower_components/angular-slick-carousel/dist/angular-slick.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/services.js' %}"></script>
        <script src="{% static 'js/directives.js' %}"></script>
        <script src="{% static 'js/controllers.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
