{% load static %}
{% include 'app/header.html' with title='Login' %}
    <body ng-cloak>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="row">
                <div class="col-sm-push-4 col-sm-4">
                    <div class="posit-relative">
	                    <div class="login-wrapper"> <!-- Login wrapper starts here -->            
		                    <h1 class="appname text-center"><img class="img img-responsive img-logo" src="{% static 'images/logo.png' %}"/> Photo Editr</h1>
		                    <div class="tagline text-center">A 21st century photo editor for the inter-web {{sessionitems}}</div>
		                    <div class="feature-story">
		                      <ul>
		                          <li><span class="fa fa-upload"></span>Upload images
		                          <li><span class="fa fa-pencil-square-o"></span>Make nifty image effects
		                          <li><span class="fa fa-paper-plane-o"></span>Share with your friends on Facebook
		                      </ul>
		                    </div>
		                    
		                    <div class="login-btn" data-scope="{{ allow_perms }}">
		                       <span class="fa fa-facebook"></span>
		                        <span class="login-text">
		                            Login with Facebook to get started.
		                        </span>
		                    </div>
		                </div> <!-- Login wrapper ends here -->
		            </div>
                </div>
            </div>
            

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script>
	            window.fbAsyncInit = function() {
	                FB.init({
	                    appId      : '{{ app_id }}',
	                    status     : true,
	                    cookie     : true,
	                    xfbml      : true,
                        version    : 'v2.4'
	                });
	                
	                FB.Event.subscribe('auth.login', function(response) {
	                    window.location = window.location;
	                });
	            }
        </script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>