<div class="col-sm-5" >
   <div class="img img-thumbnail">
        <img ng-src="[[photo.thumbnailSrc]]" />
   </div>
</div>
<div class="col-sm-7 text-left relative">
    <div class="baseline">
        <span class="img-title" edit-photo-title>[[ photo.title || 'Set title']]</span>
        <input class="hidden" type="text" name="photoTitle" value="[[ photo.title || 'Set title']]" ng-blur="UpdatePhotoTitle()"/>
        <br />
        <span class="text-tiny">Last modified on <time datetime="[[ photo.edited_at ]]">[[ photo.edited_at | amDateFormat: 'DD/MM/YYYY, h:mm a' ]]
        </time>
        </span>
    </div>
</div>
